{
  "openapi": "3.1.0",
  "info": {
    "title": "Cairn",
    "version": "0.0.2-alpha",
    "summary": "Offline, airgap-ready geocoder.",
    "description": "Cairn turns OSM + WhosOnFirst + OpenAddresses + Geonames data into a single on-disk bundle, then serves forward search, autocomplete, fuzzy matching, structured queries, and reverse geocoding from one static Rust binary.",
    "license": { "name": "MIT OR Apache-2.0" }
  },
  "servers": [
    { "url": "https://cairn.kaldera.dev", "description": "Live demo backend" },
    { "url": "http://localhost:8080", "description": "Local cairn-serve" }
  ],
  "tags": [
    { "name": "search", "description": "Forward and structured search." },
    { "name": "reverse", "description": "Reverse geocoding." },
    { "name": "parse", "description": "Address parsing utilities." },
    { "name": "ops", "description": "Health + metrics." },
    { "name": "pelias", "description": "Unprefixed alias paths (`/search`, `/autocomplete`, `/reverse`, `/place`) for clients targeting the unversioned shape used by some open-source geocoders." }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": ["ops"],
        "summary": "Liveness probe.",
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Status" } } }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "tags": ["ops"],
        "summary": "Readiness probe (returns 503 if no text index).",
        "responses": {
          "200": { "description": "Ready" },
          "503": { "description": "Not ready" }
        }
      }
    },
    "/metrics": {
      "get": {
        "tags": ["ops"],
        "summary": "Prometheus 0.0.4 text exposition.",
        "responses": {
          "200": {
            "description": "OK",
            "content": { "text/plain": { "schema": { "type": "string" } } }
          }
        }
      }
    },
    "/v1/search": {
      "get": {
        "tags": ["search"],
        "summary": "Forward search with autocomplete + fuzzy + layer + focus.",
        "parameters": [
          { "name": "q",     "in": "query", "required": true,  "schema": { "type": "string" } },
          { "name": "mode",  "in": "query", "schema": { "type": "string", "enum": ["search", "autocomplete"] } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100 } },
          { "name": "fuzzy", "in": "query", "schema": { "type": "integer", "minimum": 0, "maximum": 2 } },
          { "name": "layer", "in": "query", "description": "Comma-separated kinds to keep.", "schema": { "type": "string" } },
          { "name": "focus.lat", "in": "query", "schema": { "type": "number" } },
          { "name": "focus.lon", "in": "query", "schema": { "type": "number" } },
          { "name": "focus.weight", "in": "query", "schema": { "type": "number" } }
        ],
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SearchResponse" } } } },
          "400": { "description": "Bad request",      "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "401": { "description": "Missing API key",  "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } },
          "503": { "description": "Index not loaded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/v1/structured": {
      "get": {
        "tags": ["search"],
        "summary": "Field-by-field address search.",
        "parameters": [
          { "name": "house_number", "in": "query", "schema": { "type": "string" } },
          { "name": "road",         "in": "query", "schema": { "type": "string" } },
          { "name": "unit",         "in": "query", "schema": { "type": "string" } },
          { "name": "postcode",     "in": "query", "schema": { "type": "string" } },
          { "name": "city",         "in": "query", "schema": { "type": "string" } },
          { "name": "district",     "in": "query", "schema": { "type": "string" } },
          { "name": "region",       "in": "query", "schema": { "type": "string" } },
          { "name": "country",      "in": "query", "schema": { "type": "string" } },
          { "name": "limit",        "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK" }, "400": { "description": "Bad request" } }
      }
    },
    "/v1/reverse": {
      "get": {
        "tags": ["reverse"],
        "summary": "Point-in-polygon reverse with nearest-K fallback.",
        "parameters": [
          { "name": "lat",     "in": "query", "required": true, "schema": { "type": "number" } },
          { "name": "lon",     "in": "query", "required": true, "schema": { "type": "number" } },
          { "name": "limit",   "in": "query", "schema": { "type": "integer" } },
          { "name": "nearest", "in": "query", "description": "Fallback K when PIP empty.", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "OK", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ReverseResponse" } } } },
          "400": { "description": "Bad request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ApiError" } } } }
        }
      }
    },
    "/v1/parse": {
      "get": {
        "tags": ["parse"],
        "summary": "Free-text address → ParsedAddress.",
        "parameters": [{ "name": "q", "in": "query", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "OK" }, "400": { "description": "Bad request" } }
      }
    },
    "/v1/expand": {
      "get": {
        "tags": ["parse"],
        "summary": "Free-text address → normalized variants.",
        "parameters": [{ "name": "q", "in": "query", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "OK" }, "400": { "description": "Bad request" } }
      }
    },
    "/v1/buildings": {
      "get": {
        "tags": ["search"],
        "summary": "Building footprints at a coordinate.",
        "description": "Returns building polygons that contain (or are nearest to) `(lon, lat)`. `mode=at` (default) runs a strict rooftop-level point-in-polygon check on each candidate's outer ring after a tile + bbox prefilter. `mode=nearest` returns the `limit` closest building centroids regardless of overlap. Set `strict=false` to fall back to bbox-only matching for `mode=at` (cheaper but over-includes ~10–30 % at urban density on L- / U-shaped footprints). Returns 404 with a CLI hint when the bundle has no `building_tiles` (i.e. was not augmented with `cairn-build augment --buildings`).",
        "parameters": [
          { "name": "lon",    "in": "query", "required": true, "schema": { "type": "number" } },
          { "name": "lat",    "in": "query", "required": true, "schema": { "type": "number" } },
          { "name": "mode",   "in": "query", "schema": { "type": "string", "enum": ["at", "nearest"] } },
          { "name": "strict", "in": "query", "description": "Strict rooftop PIP for `mode=at`. Default true.", "schema": { "type": "boolean" } },
          { "name": "limit",  "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 200 } }
        ],
        "responses": {
          "200": { "description": "Per-building rows: id, centroid, bbox, outer_ring, height." },
          "400": { "description": "Bad request — missing or out-of-range lat/lon." },
          "404": { "description": "Bundle has no building_tiles." }
        }
      }
    },
    "/v1/place": {
      "get": {
        "tags": ["search"],
        "summary": "Resolve one or more bookmarks to full Place records.",
        "description": "Comma-separated `ids`. Each token is either a global identifier of shape `<source>:<type>:<id>` (e.g. `osm:way:12345`, `wof:locality:101748479`) or a legacy bundle-local u64 `place_id`. Tokens containing a colon are routed through the gid resolver; bare digits use the legacy path. Both fan out across federation members. Returns a GeoJSON FeatureCollection envelope. Missing identifiers are silently skipped — partial results are not an error.",
        "parameters": [
          { "name": "ids", "in": "query", "required": true, "description": "Comma-separated gids and/or u64 place_ids.", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "GeoJSON FeatureCollection" },
          "400": { "description": "Bad request — missing or malformed `ids`." },
          "503": { "description": "Text index not loaded." }
        }
      }
    },
    "/place": {
      "get": {
        "tags": ["pelias"],
        "summary": "Unprefixed alias of /v1/place.",
        "parameters": [
          { "name": "ids", "in": "query", "required": true, "description": "Comma-separated `gid` values, e.g. `osm:way:12345,wof:locality:101748479`. Bundle-local u64 place_ids are also accepted.", "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "GeoJSON FeatureCollection" } }
      }
    },
    "/search": {
      "get": {
        "tags": ["pelias"],
        "summary": "Forward search via the unprefixed path used by some open-source geocoder clients.",
        "parameters": [
          { "name": "text",  "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "size",  "in": "query", "schema": { "type": "integer" } },
          { "name": "layers","in": "query", "schema": { "type": "string" } },
          { "name": "focus.point.lat", "in": "query", "schema": { "type": "number" } },
          { "name": "focus.point.lon", "in": "query", "schema": { "type": "number" } }
        ],
        "responses": { "200": { "description": "GeoJSON FeatureCollection" } }
      }
    },
    "/autocomplete": {
      "get": {
        "tags": ["pelias"],
        "summary": "Autocomplete via the unprefixed path.",
        "parameters": [
          { "name": "text", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "size", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "GeoJSON FeatureCollection" } }
      }
    },
    "/v1/autocomplete": {
      "get": {
        "tags": ["pelias"],
        "summary": "Autocomplete (alternate versioned path).",
        "parameters": [{ "name": "text", "in": "query", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "GeoJSON FeatureCollection" } }
      }
    },
    "/reverse": {
      "get": {
        "tags": ["pelias"],
        "summary": "Reverse geocoding via the unprefixed path.",
        "parameters": [
          { "name": "point.lat", "in": "query", "required": true, "schema": { "type": "number" } },
          { "name": "point.lon", "in": "query", "required": true, "schema": { "type": "number" } },
          { "name": "size",      "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "GeoJSON FeatureCollection" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": { "type": "apiKey", "in": "header", "name": "X-API-Key" },
      "ApiKeyQuery":  { "type": "apiKey", "in": "query",  "name": "api_key" }
    },
    "schemas": {
      "Status": {
        "type": "object",
        "properties": { "status": { "type": "string" } }
      },
      "Hit": {
        "type": "object",
        "properties": {
          "place_id":    { "type": "integer", "format": "uint64" },
          "gid":         { "type": "string", "description": "Stable global identifier of shape `<source>:<type>:<id>` (e.g. `osm:way:12345`, `wof:locality:101748479`). Survives bundle rebuilds; resolvable via /v1/place." },
          "name":        { "type": "string" },
          "kind":        { "type": "string" },
          "level":       { "type": "integer" },
          "lon":         { "type": "number" },
          "lat":         { "type": "number" },
          "score":       { "type": "number" },
          "admin_path":  { "type": "array", "items": { "type": "integer", "format": "uint64" } },
          "distance_km": { "type": "number" }
        }
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "query":   { "type": "string" },
          "mode":    { "type": "string" },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/Hit" } }
        }
      },
      "ReverseHit": {
        "type": "object",
        "properties": {
          "place_id":    { "type": "integer", "format": "uint64" },
          "gid":         { "type": "string", "description": "Stable global identifier of shape `<source>:<type>:<id>`." },
          "name":        { "type": "string" },
          "kind":        { "type": "string" },
          "level":       { "type": "integer" },
          "lon":         { "type": "number" },
          "lat":         { "type": "number" },
          "admin_path":  { "type": "array", "items": { "type": "integer", "format": "uint64" } },
          "distance_km": { "type": "number" }
        }
      },
      "ReverseResponse": {
        "type": "object",
        "properties": {
          "lat":     { "type": "number" },
          "lon":     { "type": "number" },
          "source":  { "type": "string", "enum": ["pip", "nearest"] },
          "results": { "type": "array", "items": { "$ref": "#/components/schemas/ReverseHit" } }
        }
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code":    { "type": "string" },
              "message": { "type": "string" }
            }
          }
        }
      }
    }
  },
  "security": [{ "ApiKeyHeader": [] }, { "ApiKeyQuery": [] }]
}
